.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapouter{margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #e3f0ff8b, #fafcff73);
	height: 100vh;
	display: flex;
margin-top:150px ;
	align-items: center;}
  






  .gmap_canvas > * {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-align:start;
    line-height: 20px;
  }
  
  
  .gmap_canvas:hover{
    border: 5px solid rgb(218,165,32);
    transition: all ease .50s;
    transform: translate(-20%, -20%);
    z-index: 1;
    margin-top: 100px;
  }
  

.mapouter{position:relative;text-align:right;height:500px;width:600px; border-radius:20px ;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px; border-radius:20px ;position:relative;}